h1 {
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF6700;
}

body {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

button.authsource {
  border: 0; 
  font-size: small;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
}

li.authsource {
  display: inline-block;
  float: none;
  list-style-type: none;
  padding: 20px;
  vertical-align: bottom;
}

li.authsource input {
  height: 200px;
  width: 300px;
  font-size: 0;
  border: 1px solid grey;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

li.authsource p {
  text-align: center;
}

input#button-microsoft {
  background-image: url('/simplesaml/module.php/callysto/assets/microsoft.png');
}

input#button-google {
  background-image: url('/simplesaml/module.php/callysto/assets/google.png');
}

input#button-mock-idp {
  background-image: url('/simplesaml/module.php/callysto/assets/mock-idp.png');
}

p.register {
  font-weight: 700;
  font-size: large;
}

img.idpselect_img {
  float: left;
  padding-right: 100px;
}

form.idpselect_form {
  padding-top: 50px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

p.remember {
  font-size: small;
}

#footer {
  color: #A9A9A9;
  background: none;
  text-align: left;
  color: #000000;
}

#footer a {
  color: #A9A9A9;
}

#header {
  height: 6rem;
  background: none;
}

#header #logo img {
  height: 6rem;
}

